USE [master]
GO
/****** Object:  Database [QLBanvechuyenbay]    Script Date: 24-Jun-19 6:55:44 PM ******/
CREATE DATABASE [QLBanvechuyenbay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBanvechuyenbay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLBanvechuyenbay.mdf' , SIZE = 3520KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLBanvechuyenbay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLBanvechuyenbay_log.ldf' , SIZE = 896KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBanvechuyenbay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBanvechuyenbay]
GO
/****** Object:  Table [dbo].[CHITIETGIAODICH]    Script Date: 24-Jun-19 6:55:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETGIAODICH](
	[MAGIAODICH] [nchar](10) NOT NULL,
	[MAVE] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CHITIETGIAODICH] PRIMARY KEY CLUSTERED 
(
	[MAGIAODICH] ASC,
	[MAVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUYENBAY]    Script Date: 24-Jun-19 6:55:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENBAY](
	[MACHUYENBAY] [nchar](10) NOT NULL,
	[HANGHANGKHONG] [nvarchar](50) NOT NULL,
	[DIEMKHOIHANH] [nvarchar](50) NOT NULL,
	[DIEMDEN] [nvarchar](50) NOT NULL,
	[SOLUONGKHACH] [int] NOT NULL,
	[DAXOA] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_CHUYENBAY] PRIMARY KEY CLUSTERED 
(
	[MACHUYENBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIAODICH]    Script Date: 24-Jun-19 6:55:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAODICH](
	[MAGIAODICH] [nchar](10) NOT NULL,
	[THOIGIANGIAODICH] [datetime] NOT NULL,
	[SOTIENGIAODICH] [int] NOT NULL,
	[MAKHACHHANG] [nchar](10) NOT NULL,
	[MANHANVIEN] [nchar](10) NOT NULL,
	[SOTAIKHOANCHUYENDEN] [nvarchar](50) NULL,
	[MALICHBAY] [nchar](10) NOT NULL,
 CONSTRAINT [PK_GIAODICH] PRIMARY KEY CLUSTERED 
(
	[MAGIAODICH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HANGVE]    Script Date: 24-Jun-19 6:55:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGVE](
	[MAHANGVE] [nchar](10) NOT NULL,
	[MACHUYENBAY] [nchar](10) NOT NULL,
	[SOCHO] [int] NOT NULL,
	[GIAVE] [int] NOT NULL,
 CONSTRAINT [PK_HANGVE] PRIMARY KEY CLUSTERED 
(
	[MACHUYENBAY] ASC,
	[MAHANGVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 24-Jun-19 6:55:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [nchar](10) NOT NULL,
	[TENKHACHHANG] [nvarchar](50) NOT NULL,
	[SODIENTHOAI] [nchar](10) NOT NULL,
	[CMND] [nchar](12) NOT NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LICHBAY]    Script Date: 24-Jun-19 6:55:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHBAY](
	[MALICHBAY] [nchar](10) NOT NULL,
	[MACHUYENBAY] [nchar](10) NOT NULL,
	[NGAY] [date] NOT NULL,
	[GIOKHOIHANH] [time](7) NOT NULL,
	[GIOKETTHUC] [time](7) NOT NULL,
	[TINHTRANG] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LICHBAY_1] PRIMARY KEY CLUSTERED 
(
	[MALICHBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LICHLAMVIEC]    Script Date: 24-Jun-19 6:55:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHLAMVIEC](
	[MANHANVIEN] [nchar](10) NOT NULL,
	[CA] [int] NOT NULL,
	[NGAY] [date] NOT NULL,
 CONSTRAINT [PK_LICHLAMVIEC] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC,
	[CA] ASC,
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 24-Jun-19 6:55:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [nchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[MATKHAU] [nvarchar](50) NOT NULL,
	[TINHTRANG] [nvarchar](50) NOT NULL,
	[MANGUOIQUANLY] [nchar](10) NULL,
	[NGAYSINH] [date] NOT NULL,
	[GIOITINH] [nvarchar](50) NOT NULL,
	[CHUCVU] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[SODIENTHOAI] [nchar](10) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SOCHOTRONG]    Script Date: 24-Jun-19 6:55:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOCHOTRONG](
	[MALICHBAY] [nchar](10) NOT NULL,
	[MAHANGVE] [nchar](10) NOT NULL,
	[SOCHOCONTRONG] [nchar](10) NOT NULL,
 CONSTRAINT [PK_SOCHOTRONG] PRIMARY KEY CLUSTERED 
(
	[MALICHBAY] ASC,
	[MAHANGVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VE]    Script Date: 24-Jun-19 6:55:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE](
	[MAVE] [nchar](10) NOT NULL,
	[MALICHBAY] [nchar](10) NOT NULL,
	[MAHANGVE] [nchar](10) NOT NULL,
 CONSTRAINT [PK_VE] PRIMARY KEY CLUSTERED 
(
	[MAVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHITIETGIAODICH] ([MAGIAODICH], [MAVE]) VALUES (N'GD001     ', N'V001      ')
INSERT [dbo].[CHITIETGIAODICH] ([MAGIAODICH], [MAVE]) VALUES (N'GD002     ', N'V002      ')
INSERT [dbo].[CHITIETGIAODICH] ([MAGIAODICH], [MAVE]) VALUES (N'GD003     ', N'V003      ')
INSERT [dbo].[CHUYENBAY] ([MACHUYENBAY], [HANGHANGKHONG], [DIEMKHOIHANH], [DIEMDEN], [SOLUONGKHACH], [DAXOA]) VALUES (N'CB001     ', N'VietNamAirline', N'TPHCM', N'Hà Nội', 150, N'Chưa xóa')
INSERT [dbo].[CHUYENBAY] ([MACHUYENBAY], [HANGHANGKHONG], [DIEMKHOIHANH], [DIEMDEN], [SOLUONGKHACH], [DAXOA]) VALUES (N'CB002     ', N'VietJet', N'TPHCM', N'Đà Nẵng', 120, N'Chưa xóa')
INSERT [dbo].[CHUYENBAY] ([MACHUYENBAY], [HANGHANGKHONG], [DIEMKHOIHANH], [DIEMDEN], [SOLUONGKHACH], [DAXOA]) VALUES (N'CB003     ', N'Jetstar Pacific', N'Hà Nội', N'Cần Thơ', 100, N'Chưa xóa')
INSERT [dbo].[GIAODICH] ([MAGIAODICH], [THOIGIANGIAODICH], [SOTIENGIAODICH], [MAKHACHHANG], [MANHANVIEN], [SOTAIKHOANCHUYENDEN], [MALICHBAY]) VALUES (N'GD001     ', CAST(N'2019-05-14 07:00:00.000' AS DateTime), 1000000, N'KH001     ', N'NV001     ', NULL, N'LB001     ')
INSERT [dbo].[GIAODICH] ([MAGIAODICH], [THOIGIANGIAODICH], [SOTIENGIAODICH], [MAKHACHHANG], [MANHANVIEN], [SOTAIKHOANCHUYENDEN], [MALICHBAY]) VALUES (N'GD002     ', CAST(N'2019-05-15 00:00:00.000' AS DateTime), 1100000, N'KH002     ', N'NV001     ', NULL, N'LB002     ')
INSERT [dbo].[GIAODICH] ([MAGIAODICH], [THOIGIANGIAODICH], [SOTIENGIAODICH], [MAKHACHHANG], [MANHANVIEN], [SOTAIKHOANCHUYENDEN], [MALICHBAY]) VALUES (N'GD003     ', CAST(N'2019-05-15 07:00:00.000' AS DateTime), 3000000, N'KH003     ', N'NV003     ', NULL, N'LB002     ')
INSERT [dbo].[HANGVE] ([MAHANGVE], [MACHUYENBAY], [SOCHO], [GIAVE]) VALUES (N'HV001     ', N'CB001     ', 120, 1000000)
INSERT [dbo].[HANGVE] ([MAHANGVE], [MACHUYENBAY], [SOCHO], [GIAVE]) VALUES (N'HV001     ', N'CB002     ', 100, 1100000)
INSERT [dbo].[HANGVE] ([MAHANGVE], [MACHUYENBAY], [SOCHO], [GIAVE]) VALUES (N'HV002     ', N'CB002     ', 20, 3000000)
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [SODIENTHOAI], [CMND]) VALUES (N'KH001     ', N'Trần Văn Anh', N'0909123456', N'0256448912  ')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [SODIENTHOAI], [CMND]) VALUES (N'KH002     ', N'Trần Thị Bé', N'0918517963', N'0115598763  ')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [SODIENTHOAI], [CMND]) VALUES (N'KH003     ', N'Lê Văn Can', N'0907084635', N'0223491675  ')
INSERT [dbo].[LICHBAY] ([MALICHBAY], [MACHUYENBAY], [NGAY], [GIOKHOIHANH], [GIOKETTHUC], [TINHTRANG]) VALUES (N'LB001     ', N'CB001     ', CAST(N'2019-05-15' AS Date), CAST(N'10:00:00' AS Time), CAST(N'11:30:00' AS Time), N'Đã hạ cánh')
INSERT [dbo].[LICHBAY] ([MALICHBAY], [MACHUYENBAY], [NGAY], [GIOKHOIHANH], [GIOKETTHUC], [TINHTRANG]) VALUES (N'LB002     ', N'CB001     ', CAST(N'2019-05-25' AS Date), CAST(N'20:00:00' AS Time), CAST(N'21:00:00' AS Time), N'Đã dời lịch')
INSERT [dbo].[LICHBAY] ([MALICHBAY], [MACHUYENBAY], [NGAY], [GIOKHOIHANH], [GIOKETTHUC], [TINHTRANG]) VALUES (N'LB003     ', N'CB002     ', CAST(N'2019-05-27' AS Date), CAST(N'13:00:00' AS Time), CAST(N'14:30:00' AS Time), N'Chưa cất cánh')
INSERT [dbo].[LICHLAMVIEC] ([MANHANVIEN], [CA], [NGAY]) VALUES (N'NV001     ', 1, CAST(N'2019-05-14' AS Date))
INSERT [dbo].[LICHLAMVIEC] ([MANHANVIEN], [CA], [NGAY]) VALUES (N'NV002     ', 1, CAST(N'2019-05-16' AS Date))
INSERT [dbo].[LICHLAMVIEC] ([MANHANVIEN], [CA], [NGAY]) VALUES (N'NV002     ', 2, CAST(N'2019-05-15' AS Date))
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HOTEN], [MATKHAU], [TINHTRANG], [MANGUOIQUANLY], [NGAYSINH], [GIOITINH], [CHUCVU], [DIACHI], [SODIENTHOAI]) VALUES (N'NV001     ', N'Nguyễn Thị Lệ', N'123456', N'Đang làm việc', N'NV002     ', CAST(N'1998-07-14' AS Date), N'Nữ', N'Nhân viên bán vé', N'4 Nguyễn Trãi', N'0909846325')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HOTEN], [MATKHAU], [TINHTRANG], [MANGUOIQUANLY], [NGAYSINH], [GIOITINH], [CHUCVU], [DIACHI], [SODIENTHOAI]) VALUES (N'NV002     ', N'Trần Thành Công', N'234567', N'Đang làm việc', NULL, CAST(N'1993-03-25' AS Date), N'Nam', N'Quản lý bán vé', N'875 Trần Hưng Đạo', N'0919056812')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HOTEN], [MATKHAU], [TINHTRANG], [MANGUOIQUANLY], [NGAYSINH], [GIOITINH], [CHUCVU], [DIACHI], [SODIENTHOAI]) VALUES (N'NV003     ', N'Lê Anh Đạt', N'345678', N'Đang làm việc', NULL, CAST(N'1992-04-04' AS Date), N'Nam', N'Nhân viên bán vé', N'91 Nam Kỳ Khởi Nghĩa', N'0774189536')
INSERT [dbo].[SOCHOTRONG] ([MALICHBAY], [MAHANGVE], [SOCHOCONTRONG]) VALUES (N'LB001     ', N'HV001     ', N'10        ')
INSERT [dbo].[SOCHOTRONG] ([MALICHBAY], [MAHANGVE], [SOCHOCONTRONG]) VALUES (N'LB002     ', N'HV001     ', N'2         ')
INSERT [dbo].[SOCHOTRONG] ([MALICHBAY], [MAHANGVE], [SOCHOCONTRONG]) VALUES (N'LB002     ', N'HV002     ', N'4         ')
INSERT [dbo].[VE] ([MAVE], [MALICHBAY], [MAHANGVE]) VALUES (N'V001      ', N'LB001     ', N'HV001     ')
INSERT [dbo].[VE] ([MAVE], [MALICHBAY], [MAHANGVE]) VALUES (N'V002      ', N'LB002     ', N'HV001     ')
INSERT [dbo].[VE] ([MAVE], [MALICHBAY], [MAHANGVE]) VALUES (N'V003      ', N'LB002     ', N'HV002     ')
ALTER TABLE [dbo].[CHITIETGIAODICH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETGIAODICH_GIAODICH] FOREIGN KEY([MAGIAODICH])
REFERENCES [dbo].[GIAODICH] ([MAGIAODICH])
GO
ALTER TABLE [dbo].[CHITIETGIAODICH] CHECK CONSTRAINT [FK_CHITIETGIAODICH_GIAODICH]
GO
ALTER TABLE [dbo].[CHITIETGIAODICH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETGIAODICH_VE] FOREIGN KEY([MAVE])
REFERENCES [dbo].[VE] ([MAVE])
GO
ALTER TABLE [dbo].[CHITIETGIAODICH] CHECK CONSTRAINT [FK_CHITIETGIAODICH_VE]
GO
ALTER TABLE [dbo].[GIAODICH]  WITH CHECK ADD  CONSTRAINT [FK_GIAODICH_KHACHHANG] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[GIAODICH] CHECK CONSTRAINT [FK_GIAODICH_KHACHHANG]
GO
ALTER TABLE [dbo].[GIAODICH]  WITH CHECK ADD  CONSTRAINT [FK_GIAODICH_LICHBAY] FOREIGN KEY([MALICHBAY])
REFERENCES [dbo].[LICHBAY] ([MALICHBAY])
GO
ALTER TABLE [dbo].[GIAODICH] CHECK CONSTRAINT [FK_GIAODICH_LICHBAY]
GO
ALTER TABLE [dbo].[GIAODICH]  WITH CHECK ADD  CONSTRAINT [FK_GIAODICH_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[GIAODICH] CHECK CONSTRAINT [FK_GIAODICH_NHANVIEN]
GO
ALTER TABLE [dbo].[HANGVE]  WITH CHECK ADD  CONSTRAINT [FK_HANGVE_CHUYENBAY] FOREIGN KEY([MACHUYENBAY])
REFERENCES [dbo].[CHUYENBAY] ([MACHUYENBAY])
GO
ALTER TABLE [dbo].[HANGVE] CHECK CONSTRAINT [FK_HANGVE_CHUYENBAY]
GO
ALTER TABLE [dbo].[LICHBAY]  WITH CHECK ADD  CONSTRAINT [FK_LICHBAY_CHUYENBAY] FOREIGN KEY([MACHUYENBAY])
REFERENCES [dbo].[CHUYENBAY] ([MACHUYENBAY])
GO
ALTER TABLE [dbo].[LICHBAY] CHECK CONSTRAINT [FK_LICHBAY_CHUYENBAY]
GO
ALTER TABLE [dbo].[LICHLAMVIEC]  WITH CHECK ADD  CONSTRAINT [FK_LICHLAMVIEC_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[LICHLAMVIEC] CHECK CONSTRAINT [FK_LICHLAMVIEC_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_NHANVIEN] FOREIGN KEY([MANGUOIQUANLY])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_NHANVIEN]
GO
ALTER TABLE [dbo].[SOCHOTRONG]  WITH CHECK ADD  CONSTRAINT [FK_SOCHOTRONG_LICHBAY] FOREIGN KEY([MALICHBAY])
REFERENCES [dbo].[LICHBAY] ([MALICHBAY])
GO
ALTER TABLE [dbo].[SOCHOTRONG] CHECK CONSTRAINT [FK_SOCHOTRONG_LICHBAY]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_LICHBAY] FOREIGN KEY([MALICHBAY])
REFERENCES [dbo].[LICHBAY] ([MALICHBAY])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_LICHBAY]
GO
USE [master]
GO
